.cart_container{
    width: 80%;
    /* height: 500px; */
    margin: 20px auto 0px auto;
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;

    & h4{
        margin-bottom: 20px;
        font-weight: 600;
    }
}
.cart_box1{
    width: 100%;
    height: 130px;
    /* border: 1px solid; */
    display: flex;
    margin: 10px 0px 10px 0px;
}
.cart_child1{
    width: 50%;
    height: 100%;
    /* border: 1px solid; */
    display: flex;
}
.cart_sub1{
    width: 20%;
    height: 80%;
    margin: 5px 0px 0px 0px;
    background-color: rgb(203, 203, 203);
    border-radius: 8px;

    & img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px;
        /* border: 1px solid red; */
    }
}
.cart_sub2{
    width: 75%;
    line-height: 10px;
    padding: 20px;
    /* background-color: aqua; */

    .cart_item_name{
        font-weight: 500;
        /* letter-spacing: 1px; */
        word-spacing: 2px;
    }
    .cart_item_color{
        color: rgb(155, 155, 155);
        font-size: 14px;
    }
}
.Qty{
    display: flex;
    margin-top: 30px;

    & p{
        font-size: 14px;
    }

    & select{
        margin-left: 10px;
        position: relative;
        bottom: 10px;
        width: 80px;
        border: 1px solid rgb(176, 176, 176);
        border-radius: 8px;

        & option{
            text-align: center;
        }
    }
}
.cart_child2{
    width: 50%;
    height: 100%;
    padding: 20px;
    text-align: right;
    /* background-color: aqua; */

    .cart_item_price{
        font-weight: 600;
    }

    .remove_btn{
        font-size: 14px;
        margin-top: 8%;
        color: blue;
        cursor: pointer;
    }
}
.cart_box2{
    display: flex;
    justify-content: space-between;
    padding: 0px 10px 0px 10px;

    .total_txt{
        font-weight: 600;
    }
    .total_price{
        font-weight: 600;
    }
}
.check_btn{
    width: 100%;
    height: 40px;
    margin: 20px auto 10px auto;
    border: none;
    background-color: rgb(0, 47, 255);
    color: white;
    border-radius: 8px;
}
.check_btn:hover{
    background-color: blue;
}
#continue_shop{
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
    color: blue;
    cursor: pointer;
}

.p_removeFromCart{
    width: 100%;
    /* border: none; */
    background-color:white;
    height: 40px;
    border-radius: 8px;
}