.edit_form{
    /* border: 1px solid red; */
    justify-content: space-between;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;

    & label{
        font-size: 14px;
        margin-bottom: 8px;
    }
    & input{
        border: 1px solid rgb(208, 208, 208);
        border-radius: 8px;
        height: 30px;
        padding-left: 15px;
        outline: none;
    }
}
.edit_box_1{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 10px 0px 20px 0px;
}
.edit_sub_1{
    width: 50%;

    & input{
        width: 90%;
    }
    & select{
        width: 90%;
        height: 30px;
        border: 1px solid rgb(208, 208, 208);
        border-radius: 8px;
    }
}
.edit_box_2{
    margin: 10px 0px 20px 0px;

    & input{
        width: 95%;
    }
}
.edit_box_3{
    display: flex;
    width: 100%;

    & div{
        margin: 0px 10px 0px 0px;
        width: 31%;

        & input{
            width: 100%;
        }
    }
}