.Container404{
    width: 100%;
    height: 380px;
    text-align: center;
    padding-top: 50px;
    background-color: white;
    line-height: 40px;

    .statusCode{
        color: rgb(0, 64, 255);
    }

    & h2{
        font-weight: 900;
    }

    & button{
        border: none;
        border-radius: 8px ;
        background-color: blue;
        height: 40px;
        color: white;
        /* padding: 10px; */
    }
}