body {
    background-color: rgb(223, 223, 223);
}

.product_container {
    /* width: 95%; */
    width: 100%;
    /* height: 628px; */
    background-color: white;
    margin: auto;
    margin: 20px auto 0px auto;
    padding: 20px;
    /* border: 1px solid; */
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
}

.site_name {
    width: 100%;
    height: 50px;
    background-color: white;
}

.product_box1 {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ; */

    & h3 {
        /* font-weight: 600; */
        /* font-family: 'Oswald', sans-serif;
        font-family: 'Roboto', sans-serif;
        font-family: 'Roboto Slab', serif; */
    }

    & select {
        margin: 0px 10px 0px 0px;
        border: none;
        outline: none;


        #option_1 {
            text-align: center;
        }
    }

    & i {
        margin: 0px 10px 0px 10px;
    }
}

.product_box2 {
    /* border: 1px solid; */
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-between;
}

.product_box3 {
    width: 20%;
    height: 100%;
    /* border: 1px solid; */
    /* position: fixed; */
}

.product_box4 {
    width: 75%;
    height: 100%;
    /* border: 1px solid; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-columns: repeat(3,1fr); */
    padding: 10px;
    grid-gap: 40px;

}




.product_sub2 {
    /* height: 75%; */
    height: 350px;
    /* border: 1px solid; */
    box-shadow: 0px 0px 5px gray;
    border-radius: 8px;
    font-size: 14px;
    padding: 10px;
    /* background-color: aqua; */

    & i {
        color: rgb(253, 131, 0);
        font-size: 16px;
    }

    .item_img {
        width: 100%;
        height: 75%;
        /* border: 1px solid; */
        margin-bottom: 5px;
        border-radius: 8px;
        background-color: rgb(220, 220, 220);
        animation-name: loading;
        /* animation-duration: ; */
        animation: loading 5s infinite;

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            /* display: none; */
            border-radius: 8px;
        }
    }

    /* @keyframes loading {
        0%   {background-color: red;}
        25%  {background-color: yellow;}
        50%  {background-color: blue;}
        100% {background-color: green;}
      } */
    .product_sub3 {
        display: flex;
        justify-content: space-between;
        padding: 0px 10px 0px 10px;

        & p {
            font-size: 13px;
        }

        #product_price {
            font-weight: 600;
        }
    }

    .iem_clr {
        padding: 0px 0px 0px 10px;
    }
}

.producnt_sub4 {
    width: 75%;
    /* height: 250px; */
    /* border: 1px solid; */
    /* padding: 10px; */
    /* display: flex; */

    .product_sub5 {
        width: 100%;
        height: 250px;
        /* border: 1px solid rgb(201, 201, 201); */
        box-shadow: 0px 0px 5px rgb(201, 201, 201);
        border-radius: 8px;
        padding: 10px;
        display: flex;
        margin-bottom: 20px;

        & span{
            font-size: 13px;
            color: green;
        }
    }

    .product_item_img {
        /* border: 1px solid; */
        width: 20%;
        height: 100%;

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 8px;
        }
    }

    .product_item_info {
        width: 80%;
        padding: 0px 10px 0px 30px;

        & i {
            color: orangered;
        }

        & span {
            margin-left: 30px;
        }

        & p {
            font-size: 14px;
            color: rgb(149, 148, 148);
        }

        .item_desc {
            color: black;
        }
        & del{
            color: rgb(165, 165, 165);
        }
    }
}

@keyframes loading {
    0% {
        background-color: rgb(233, 233, 233);
    }

    25% {
        background-color: rgb(193, 193, 193);
    }

    50% {
        background-color: rgb(225, 225, 225);
    }

    100% {
        background-color: rgb(193, 193, 193);
    }
}


.product_sub2:hover {
    cursor: pointer;
    transform: scale(0.9);
    /* animation-timing-function:ease-in; */
}

.accordion-header {
    & button {
        font-size: 15px;
    }
}

.accordion-body {
    & div {
        margin: 8px 0px 8px 0px;

        & label {
            margin-left: 8px;
            font-size: 14px;
        }

        & button {
            font-size: 14px !important;
        }

        /* & input[type='checkbox']:checked:after{
            background-color: aquamarine;
            color: red;
        } */
    }
}

.product_box5 {
    /* border: 1px solid; */
    justify-content: right;
    margin: 30px 0px 20px 0px;

}

.product_box6 {
    width: 40%;
    /* border: 1px solid red; */
    margin-left: 60%;
}